iframe {
  border: none;
}


@media screen and (min-width: 320px) and (min-height:235px) {
  iframe {
    width: 300px;
    height: 225px;
  }
}


@media screen and (min-width: 420px) and (min-height:315px) {
  iframe {
    width: 400px;
    height: 300px;
  }
}


@media screen and (min-width: 520px) and (min-height:385px) {
  iframe {
    width: 500px;
    height: 375px;
  }
}

@media screen and (min-width: 620px) and (min-height:460px) {
  iframe {
    width: 600px;
    height: 450px;
  }
}

@media screen and (min-width: 720px)  and (min-height:535px) {
  iframe {
    width: 700px;
    height: 525px;
  }
}

@media screen and (min-width: 1000px) {
  iframe {
    width: var(--content-max-width);
    height: calc(var(--content-max-width)*3/4);
  }
}

code {
  white-space: pre-wrap;
}

/* Font Et-Book pour les blockquotes */

@font-face {
  font-family: "et-book";
  src: url('https://cdn.jsdelivr.net/npm/typeface-et-book@0.0.2/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url('https://cdn.jsdelivr.net/npm/typeface-et-book@0.0.2/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "et-book";
  src: url('https://cdn.jsdelivr.net/npm/typeface-et-book@0.0.2/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

blockquote {
  font-family: "et-book";
  font-size: 1.15em;
  text-align: justify;
}